body {
    background-color: #111;
}

.container {
    width: 800px;
    height: 400px;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    gap: 8px;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
}

.box {
    color: white;
    position: relative;
    width: 300px;
    height: 100px;
}

.box::after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: opacity 500ms;
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.6),
        transparent 20%
    );
    position: absolute;
}

.box-content {
    background-color: #111;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 1px;
    /* inset blocks radial bg with content bg so that it looks like border */
}

.box:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;    
    transition: opacity 500ms;
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.08),
        transparent 30%
    );
    z-index: 3;
}